.btn-hover {
    font-weight: normal;
    color: #333333;
    cursor: pointer;
    background-color: inherit;
    border-color: transparent;
}

.btn-hover-alt {
    font-weight: normal;
    color: #ffffff;
    cursor: pointer;
    background-color: inherit;
    border-color: transparent;
}